* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

h1 {
  font-size: 25px;
}

h3 {
  font-size: 15px;
  font-weight: 500;
  text-decoration: underline;
  color: rgb(207, 204, 204);
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

header {
  display: flex;
  background-color: rgba(0, 0, 0, 0.774);
  color: white;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
.tecs-text{
  margin: 40px;
  display: flex;
  justify-content: center;
}

.img-container {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}



.tecs-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 900px;
  
}

.tec {

  margin: 5px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 278px;
  height: 290px;
  padding: 10px;
  background-color: rgb(243, 243, 243);
  border-radius: 20px;
  box-shadow: 2px 3px rgba(156, 156, 156, 0.349);
  
 
}

h4 {
  color: rgb(134, 134, 134);
  margin-bottom: 20px;
}

footer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
}

hr {
  
 margin-left: auto;
 margin-right: auto;
 width: 290px;
margin-top: 30px;

}