.super-mario {
    margin-top: ;
    position: absolute;
    width: 200px;
    top: 100px;

  }
  
  .goomba {
    top: 420px;
    left: 40px;
    position: absolute;
    width: 100px;
  }
  
  .baloon {
    top: 100px;
    left: 200px;
    position: absolute;
    z-index: 1;
  }
  
  .speach {
    top: 140px;
    left: 220px;
    position: absolute;
    font-size: 25px;
    z-index: 2;
  }
  
  .bowser {
    left: 500px;
    top: 300px;
    position: absolute;
    width: 200px;
  }